OneTSQ/OneTSQ.PrintServer/Web References/OnlineService/online.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckWs">
        <s:complexType />
      </s:element>
      <s:element name="CheckWsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckWsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SecurityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SiteId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Xml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XmlDataSchema" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProcessType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessDataResult" type="tns:AjaxOut" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AjaxOut">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InfoMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HtmlContent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RefKeyId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RetObject" />
          <s:element minOccurs="0" maxOccurs="1" name="RetObject1" />
          <s:element minOccurs="0" maxOccurs="1" name="RetObject2" />
          <s:element minOccurs="0" maxOccurs="1" name="RetObject3" />
          <s:element minOccurs="0" maxOccurs="1" name="RetObject4" />
          <s:element minOccurs="0" maxOccurs="1" name="RetObject5" />
          <s:element minOccurs="0" maxOccurs="1" name="RetObjectExtraParam1" />
          <s:element minOccurs="0" maxOccurs="1" name="RetObjectExtraParam2" />
          <s:element minOccurs="0" maxOccurs="1" name="RetObjectExtraParam3" />
          <s:element minOccurs="0" maxOccurs="1" name="RetObjectExtraParam4" />
          <s:element minOccurs="0" maxOccurs="1" name="RetObjectExtraParam5" />
          <s:element minOccurs="0" maxOccurs="1" name="RetUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RetUrlNoUpdate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RetUrlTarget" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RetExtraParam1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RetExtraParam2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RetExtraParam3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RetExtraParam4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RetExtraParam5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RetExtraParam6" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RetExtraParam7" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SaveFile" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Error" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RetBoolean" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RetNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RetNumber1" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RetNumber2" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RetNumber3" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RetNumber4" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RetNumberDecimal" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="RetNumberDecimal1" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="RetNumberDecimal2" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="RetNumberDecimal3" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="RetNumberDecimal4" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Cost" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="RetDecimal" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="IsReturnUrlLink" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="XmlData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XmlDataSchema" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RetBytes" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="MediaBytes" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="FocusControl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XmlDataResult" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XmlDataResultSchema" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ShowDialogMessage" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ProcessServiceId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AssetCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AssetLevelId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FollowUpSubject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FollowUpDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OwnerId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FollowUpStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QuickHelp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VisibleQuickHelp" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ColorId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SizeId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastImportPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DetectByEan13" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="PaggingInfo" type="tns:PagingInfoCls" />
          <s:element minOccurs="1" maxOccurs="1" name="SaleByMapProduct" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AutoDetectMapProduct" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PagingInfoCls">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StartIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EndIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrentPageIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalSegment" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalFound" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PageInfoItems" type="tns:ArrayOfPageInfoItemCls" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPageInfoItemCls">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PageInfoItemCls" nillable="true" type="tns:PageInfoItemCls" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PageInfoItemCls">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Page" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Active" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PageText" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckWsSoapIn">
    <wsdl:part name="parameters" element="tns:CheckWs" />
  </wsdl:message>
  <wsdl:message name="CheckWsSoapOut">
    <wsdl:part name="parameters" element="tns:CheckWsResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessDataSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessData" />
  </wsdl:message>
  <wsdl:message name="ProcessDataSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessDataResponse" />
  </wsdl:message>
  <wsdl:portType name="OnlineSoap">
    <wsdl:operation name="CheckWs">
      <wsdl:input message="tns:CheckWsSoapIn" />
      <wsdl:output message="tns:CheckWsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessData">
      <wsdl:input message="tns:ProcessDataSoapIn" />
      <wsdl:output message="tns:ProcessDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OnlineSoap" type="tns:OnlineSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckWs">
      <soap:operation soapAction="http://tempuri.org/CheckWs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessData">
      <soap:operation soapAction="http://tempuri.org/ProcessData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OnlineSoap12" type="tns:OnlineSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckWs">
      <soap12:operation soapAction="http://tempuri.org/CheckWs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessData">
      <soap12:operation soapAction="http://tempuri.org/ProcessData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Online">
    <wsdl:port name="OnlineSoap" binding="tns:OnlineSoap">
      <soap:address location="http://localhost:4321/services/online/online.asmx" />
    </wsdl:port>
    <wsdl:port name="OnlineSoap12" binding="tns:OnlineSoap12">
      <soap12:address location="http://localhost:4321/services/online/online.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>